<UiHeading @level={{2}} @text={{concat "Estimating Room: " @model.roomId}} />

<div class="tw-mb-6">
  <strong>Jira ticket:</strong> <input type="text" placeholder="Jira ticket link" class="tw-p-1" />
  <UiButton @kind="secondary" @text="Fetch" @underlineOnHover={{false}}/>
  <strong>ES-16: Fix double score when refreshing the room page by a voter user</strong>
</div>
<div class="tw-mb-6">
  Some description of the ticket goes here
</div>

<div class="tw-mb-6">
  <UiHeading @level={{6}}>
    {{#if this.selectedNumber}}
      Selected score card: {{this.selectedNumber}}
    {{else}}
      Select your card, when prompted
    {{/if}}
  </UiHeading>
</div>

<div class="tw-flex tw-justify-between tw-items-center">
  {{#each this.fibonacciSequence as |number|}}
    <button {{on "click" (fn this.selectCard number)}} class="tw-w-13 {{if (eq this.selectedNumber number) "tw-mb-8"}}">
      {{#ui-card}}
        {{number}}
      {{/ui-card}}
    </button>
  {{/each}}
</div>

{{#if this.average}}
  <UiHeading @level={{6}} @text={{concat "Average selected is: " this.average}} />
{{/if}}

<div class="tw-mt-12">
  <div class="tw-my-6">
    <UiButton @kind="primary" @text="Reveal Result" @underlineOnHover={{false}} @onClick={{action "reveal"}} />
  </div>

  <div class="tw-my-6">
    <UiButton @kind="secondary" @text="Reset Room" @underlineOnHover={{false}} @onClick={{action "reset"}} />
  </div>
</div>

